<div class="jumbotron mt-4">
    <h1 class="display-4">Notas qlias app en nodejs</h1>
    <p class="lead">oiosam rerum neque amet cupiditate soluta maxime fuga.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque repellat nam, eius numquam repudiandae nobis necessitatibus eaque, sed possimus aut dolor pariatur laudantium nisi nostrum omnis laborum ut atque temporibus.</p>
</div>